nav {
  margin-inline: auto;
  position: sticky;
  margin-top: 10px;
  z-index: 99;
  top: 10px;
  width: 95%;
  img {
    width: 80px;
  }
  #cart-div {
    position: absolute;
    right: 0;
    border-top: 10px solid black;
    display: flex;
    color: black;
    background-color: white;
    z-index: 99;
  }
  #search-div {
    position: absolute;
    right: 0;
    border-top: 10px solid black;
    display: flex;
    color: black;
    background-color: white;
    z-index: 99;
    overflow-y: scroll;
    max-height: 80vh;
  }
  #close-cart {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99;
  }
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
