nav {
  margin-inline: auto;
  position: fixed;
  margin-top: 10px;
  z-index: 99;
  top: 10px;
  width: 95%;
  transform: translate(-50%, 0);
  left: 50%;

  text-align: center;

  img {
    width: 80px;
  }
  #cart-div {
    position: absolute;
    right: 0;
    border-top: 10px solid black;
    display: flex;
    color: black;
    background-color: white;
    z-index: 90;
  }
  #search-div {
    position: absolute;
    right: 0;
    border-top: 10px solid black;
    display: flex;
    color: black;
    overflow-y: scroll;
    background-color: white;
    z-index: 99;
    max-height: 80vh;
  }
  #user-div {
    position: absolute;
    right: 0;
    border-top: 10px solid black;
    display: flex;
    color: black;
    background-color: white;
    z-index: 99;
    max-height: 80vh;

    @media screen and (max-width: 767px) {
      width: 100% !important;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      width: 60% !important;
    }
    @media screen and (min-width: 1200px) {
      width: 40% !important;
    }
  }
}
.close-btn {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 99;
}
#user-button {
  font-size: 1.3rem;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  i {
    pointer-events: none;
  }
}
.buttons {
  padding-inline: 32px;
}
::-webkit-scrollbar {
  width: 10px;
}
.user
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  position: absolute;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
