<nav class="navbar p-0">
  <div class="container-fluid bg-black">
    <a class="navbar-brand text-center"
      ><img src="../../../assets/30958-4-energy-hd.png" alt=""
    /></a>
    <ng-container [ngSwitch]="currentRoute" class="d-flex flex-row gap-2">
      <ng-container *ngSwitchCase="'/login-page'"
        ><a
          class="btn btn-outline-danger"
          routerLink="/register-page"
          routerLinkActive="active"
          >Registrati</a
        >
      </ng-container>
      <ng-container *ngSwitchCase="'/'">
        <div class="d-flex justify-content-between flex-grow-1">
          <div>
            <a class="btn btn-outline-danger" (click)="logOut()">Logout</a>
          </div>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="'/creation-client-page'">
        <div>
          <a
            class="btn btn-outline-warning"
            routerLinkActive="active"
            routerLink="/"
            >Home</a
          >
        </div>
      </ng-container>
    </ng-container>
  </div>
</nav>
