<nav>
  <div
    class="container-fluid bg-white text-black d-flex p-2 justify-content-between"
  >
    <a class="navbar-brand text-center d-flex"
      ><img class="my-auto" src="../../../assets/Kōdansha_logo.png" alt=""
    /></a>
    <ng-container [ngSwitch]="currentRoute" class="d-flex flex-row gap-2">
      <ng-container *ngSwitchCase="'/login-page'"
        ><a
          class="btn btn-outline-danger"
          routerLink="/register-page"
          routerLinkActive="active"
          >Registrati</a
        >
      </ng-container>
      <ng-container *ngSwitchCase="'/'">
        <div class="d-flex">
          <div>
            <a class="btn btn-outline-danger" (click)="logOut()">Logout</a>
          </div>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="'/creation-client-page'">
        <div>
          <a
            class="btn btn-outline-warning"
            routerLinkActive="active"
            routerLink="/"
            >Home</a
          >
        </div>
      </ng-container>
    </ng-container>
  </div>
</nav>
