<nav id="nav-bar">
  <div
    class="container-fluid bg-white text-black d-flex p-2 justify-content-between base-border"
  >
    <a href="/" class="navbar-brand text-center d-flex"
      ><img class="my-auto" src="../../../assets/Kōdansha_logo.png"
    /></a>
    <ng-container [ngSwitch]="currentRoute" class="d-flex flex-row gap-2">
      <ng-container *ngSwitchCase="'/login-page'"
        ><button
          class="btn"
          routerLink="/register-page"
          routerLinkActive="active"
        >
          Registrati
        </button>
      </ng-container>
      <ng-container *ngSwitchCase="'/'">
        <div class="d-flex">
          <div class="d-flex me-2">
            <div>
              <button
                id="search-button"
                (click)="styleOfButton($event.target, 'search-div')"
                class="buttons btn border-0 rounded-0"
                style="background-color: white"
              >
                <i class="bi bi-search" style="pointer-events: none"></i>
              </button>
            </div>
            <div>
              <button
                id="cart-button"
                (click)="
                  styleOfButton($event.target, 'cart-div'); getProducts()
                "
                class="buttons btn border-0 rounded-0"
                style="background-color: white"
              >
                <i
                  class="fas fa-shopping-cart"
                  style="pointer-events: none"
                ></i>
              </button>
            </div>
            <div>
              <button
                id="user-button"
                class="buttons btn border-0 rounded-0"
                style="background-color: white"
                (click)="
                  styleOfButton($event.target, 'user-div'); getCurrentUser()
                "
              >
                <i class="bi bi-person-fill"></i>
              </button>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="'/manga-all-info'">
        <div class="d-flex">
          <div class="d-flex me-2">
            <div>
              <button
                id="search-button"
                (click)="styleOfButton($event.target, 'search-div')"
                class="buttons btn border-0 rounded-0"
                style="background-color: white"
              >
                <i class="bi bi-search" style="pointer-events: none"></i>
              </button>
            </div>
            <div>
              <button
                id="cart-button"
                (click)="
                  styleOfButton($event.target, 'cart-div'); getProducts()
                "
                class="buttons btn border-0 rounded-0"
                style="background-color: white"
              >
                <i
                  class="fas fa-shopping-cart"
                  style="pointer-events: none"
                ></i>
              </button>
            </div>
            <div>
              <button
                id="user-button"
                class="buttons btn border-0 rounded-0"
                style="background-color: white"
                (click)="
                  styleOfButton($event.target, 'user-div'); getCurrentUser()
                "
              >
                <i class="bi bi-person-fill"></i>
              </button>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>
  <div
    id="cart-div"
    class="base-border position-absolute"
    style="display: none"
  >
    <app-cart
      [auth]="auth"
      [products]="products"
      class="w-100 h-100"
    ></app-cart>
    <div class="pt-3 pe-3 close-btn">
      <button
        (click)="dnoneDiv('cart-div', 'cart-button')"
        class="border-0 bg-white text-black fs-3"
      >
        <i class="bi bi-x-lg"></i>
      </button>
    </div>
  </div>
  <div
    id="search-div"
    class="base-border position-absolute"
    style="display: none"
  >
    <app-search></app-search>
  </div>
  <div
    id="user-div"
    class="base-border position-absolute"
    style="display: none"
  >
    <app-user-info [user]="currentUser" [orders]="orders"></app-user-info>
    <div class="pt-3 pe-3 close-btn">
      <button
        (click)="dnoneDiv('user-div', 'user-button')"
        class="border-0 bg-black text-white fs-3"
      >
        <i class="bi bi-x-lg"></i>
      </button>
    </div>
  </div>
</nav>
