nav {
  position: relative;
  margin-inline: auto;
  position: sticky;
  margin-top: 10px;
  z-index: 99;
  top: 10px;
  width: 95%;
  img {
    width: 80px;
  }
  #cart-div {
    position: absolute;
    right: 0;
    border-top: 10px solid black;
    display: flex;
    color: black;
    background-color: white;
    z-index: 99;
  }
  #close-cart {
    position: absolute;
    top: 0;
    right: 0;
  }
}
