<ng-container *ngIf="!lastChapter; else isLastChapter">
  <div
    class="not-last-chapter card base-border border-white bg-black text-white"
  >
    <div class="d-flex">
      <img
        [src]="urlImg"
        class="i card-img-top w-50 img-borders rounded-0 mx-auto"
      />
    </div>
    <div class="card-body p-1 d-flex justify-content-between flex-column">
      <div class="p-1" style="height: 100px">
        <ng-container
          *ngIf="
            chapter.attributes.title !== undefined &&
              chapter.attributes.title !== '';
            else noTitle
          "
        >
          <h5 class="card-title">
            {{ chapter.attributes.title }}
          </h5>
        </ng-container>
        <ng-template #noTitle>
          <h5 class="card-title">
            {{ mangaTitle }}
          </h5>
        </ng-template>
        <ng-container
          *ngIf="chapter.attributes.chapter !== undefined; else uniqueChapter"
        >
          <p class="card-text">Chapter n°: {{ chapter.attributes.chapter }}</p>
        </ng-container>
        <ng-template #uniqueChapter>
          <p class="card-text">Unique Chapter</p>
        </ng-template>
      </div>
      <div>
        <div class="d-flex justify-content-end mb-2 pe-3">
          <span>Price: {{ price }}€</span>
        </div>
        <a
          [ngClass]="{ 'bought-chapter': alreadyBought }"
          class="buy-btn-not-last-chapter btn w-100 border-4 border-black border-start-0 border-end-0 rounded-0 border-white text-white"
          (click)="addToCart()"
          >Buy it</a
        >
      </div>
    </div>
  </div>
</ng-container>
<ng-template #isLastChapter>
  <div class="last-chapter d-block d-lg-flex justify-content-end h-100">
    <div class="card h-100 base-border rounded-0">
      <div class="base-border">
        <p class="mb-0">Last Chapter:</p>
      </div>
      <div class="div-with-avg-color d-flex">
        <img id="i" [src]="urlImg" class="card-img-top img-borders rounded-0" />
      </div>
      <div
        class="card-body p-0 flex-column justify-content-between d-flex border-end-0 border-start-0"
      >
        <div>
          <ng-container
            *ngIf="chapter.attributes.title !== undefined; else noTitle"
          >
            <h5 class="card-title">
              {{ chapter.attributes.title }}
            </h5>
          </ng-container>
          <ng-template #noTitle>
            <h5 class="card-title">
              {{ mangaTitle }}
            </h5>
          </ng-template>
          <ng-container
            *ngIf="chapter.attributes.chapter !== undefined; else uniqueChapter"
          >
            <p class="card-text">
              Chapter n°: {{ chapter.attributes.chapter }}
            </p>
          </ng-container>
          <ng-template #uniqueChapter>
            <p class="card-text">Unique Chapter</p>
          </ng-template>
        </div>
        <div>
          <div class="d-flex">
            <span class="ms-auto">Price: {{ price }}€</span>
          </div>
          <button
            [ngClass]="{ 'bought-chapter': alreadyBought }"
            (click)="addToCart()"
            class="btn w-100 p-0 border-black border-start-0 border-end-0 rounded-0"
            style="border-top: 4px solid black; border-bottom: 4px solid black"
          >
            Buy it
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
