.div-with-avg-color {
  width: 100%;
  img {
    height: 100%;
    object-fit: fill;
    margin-inline: auto;
    width: 100%;
  }
}
.card-body {
  border-right: 6px solid white;
  border-left: 6px solid white;
  border-top: 2px solid white;
  .card-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
.last-chapter {
  .img-div {
    width: 15%;
    img {
      width: 100%;
    }
  }
  .title-div {
    width: 100%;
    position: relative;
    h5 {
      width: 95%;
      position: absolute;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

.not-last-chapter {
  .card {
    display: flex;
    border-bottom: 0;
    .div-with-avg-color {
      width: 100%;
      height: 60%;
      padding-inline: auto;
      .i {
        width: auto;
        max-width: 100%;
        margin-inline: auto;
      }
    }
    .card-body {
      border-top: 2px solid white;
      height: 10%;
      .card-title {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      a {
        border: 4px solid white;
      }
    }
  }
}
.bought-chapter {
  pointer-events: none;
  background-color: #ccc;
  color: #666;
}

.buy-btn-not-last-chapter:hover {
  background-color: #ccc;
  color: black;
}
