<ng-container *ngIf="!lastChapter; else isLastChapter">
  <div class="not-last-chapter card mb-3">
    <div class="div-with-avg-color base-border">
      <img
        id="i"
        [src]="urlImg"
        class="card-img-top w-50 img-borders rounded-0"
      />
    </div>
    <div class="card-body p-0 d-flex justify-content-between flex-column">
      <div class="p-1" style="height: 100px">
        <ng-container
          *ngIf="chapter.attributes.title !== undefined; else noTitle"
        >
          <h5 class="card-title">
            {{ chapter.attributes.title }}
          </h5>
        </ng-container>
        <ng-template #noTitle>
          {{ manga.attributes.title }}
        </ng-template>
        <ng-container
          *ngIf="chapter.attributes.chapter !== undefined; else uniqueChapter"
        >
          <p class="card-text">Chapter n°: {{ chapter.attributes.chapter }}</p>
        </ng-container>
        <ng-template #uniqueChapter>
          <p class="card-text">Unique Chapter</p>
        </ng-template>
      </div>
      <a
        href="#"
        class="btn w-100 border-4 border-black border-start-0 border-end-0 rounded-0"
        >Buy it</a
      >
    </div>
  </div>
</ng-container>
<ng-template #isLastChapter>
  <div class="last-chapter d-block d-lg-flex justify-content-end h-100">
    <div class="card h-100 base-border rounded-0">
      <div class="base-border">
        <p class="mb-0">Last Chapter:</p>
      </div>
      <div class="div-with-avg-color d-flex">
        <img id="i" [src]="urlImg" class="card-img-top img-borders rounded-0" />
      </div>
      <div class="card-body p-0 flex-column justify-content-between d-flex">
        <div class="px-1">
          <ng-container
            *ngIf="chapter.attributes.title !== undefined; else noTitle"
          >
            <h5 class="card-title">
              {{ chapter.attributes.title }}
            </h5>
          </ng-container>
          <ng-template #noTitle>
            {{ manga.attributes.title }}
          </ng-template>
          <ng-container
            *ngIf="chapter.attributes.chapter !== undefined; else uniqueChapter"
          >
            <p class="card-text">
              Chapter n°: {{ chapter.attributes.chapter }}
            </p>
          </ng-container>
          <ng-template #uniqueChapter>
            <p class="card-text">Unique Chapter</p>
          </ng-template>
        </div>

        <a
          href="#"
          class="btn w-100 p-0 border-black border-start-0 border-end-0 rounded-0"
          >Buy it</a
        >
      </div>
    </div>
  </div>
</ng-template>
