.div-with-avg-color {
  transform: translateY(-70px);
  position: relative;
  display: flex;
  border-bottom: 5px solid black;
  top: 0;
  width: 100%;
  img {
    height: 80vh;
    position: relative;
    margin-inline: auto;
    border-left: 5px solid black;
    border-right: 5px solid black;
  }
  #div-info-random-manga {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 14px;
    bottom: -50px;
    width: 58%;
    height: 28%;
    left: 40px;
    #div-button {
      display: flex;
      justify-content: space-between;
      span {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      button {
        bottom: 0;
        right: 0;
        background-color: black;
        color: white;
        font-weight: bold;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
    .title-div {
      h2 {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-weight: bold;
        font-size: 30px;
      }
    }
    h4 {
      font-size: 12px;
    }
  }
}
i {
  pointer-events: none;
}
.notReady {
  display: none;
  margin: 0;
  height: 100%;
  overflow: hidden;
}
.loading-ready {
  display: none;
}
.loading-notReady {
  position: absolute;
  top: 0;
}

.swiper-container1 {
  height: auto;
  overflow: auto;
  overflow-x: scroll;
  overflow-y: hidden;
  .swiper-slide {
    @media screen and (max-width: 767px) {
      width: 50%;
    }
    @media screen and (min-width: 768px) and (max-width: 991px) {
      width: 33%;
    }
    @media screen and (min-width: 992px) and (max-width: 1199px) {
      width: 25%;
    }
    @media screen and (min-width: 1200px) {
      width: 20%;
    }
  }
}
.swiper-container1::-webkit-scrollbar {
  display: none;
}
.swiper-container2::-webkit-scrollbar {
  display: none;
}
.swiper-container2 {
  height: auto;
  overflow: auto;
  overflow-x: scroll;
  overflow-y: hidden;
  .swiper-slide {
    @media screen and (max-width: 767px) {
      width: 50%;
    }
    @media screen and (min-width: 768px) and (max-width: 991px) {
      width: 33%;
    }
    @media screen and (min-width: 992px) and (max-width: 1199px) {
      width: 25%;
    }
    @media screen and (min-width: 1200px) {
      width: 20%;
    }
  }
}
.swiper-container3::-webkit-scrollbar {
  display: none;
}
.swiper-container3 {
  height: auto;
  overflow: auto;
  overflow-x: scroll;
  overflow-y: hidden;
  .swiper-slide {
    @media screen and (max-width: 767px) {
      width: 50%;
    }
    @media screen and (min-width: 768px) and (max-width: 991px) {
      width: 33%;
    }
    @media screen and (min-width: 992px) and (max-width: 1199px) {
      width: 25%;
    }
    @media screen and (min-width: 1200px) {
      width: 20%;
    }
  }
}
