#randomMangaDiv {
  width: 100%;
  transform: translateY(-63px);
  position: relative;
  border-bottom: 2px solid black;
  display: flex;
  img {
    height: 80vh;
    position: relative;
    margin-inline: auto;
    border-left: 6px solid black;
    border-right: 6px solid black;
  }
  #div-info-random-manga {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 14px;
    bottom: 40px;
    width: 58%;
    height: 28%;
    left: 40px;
    border: 2px solid black;
    #div-button {
      display: flex;
      justify-content: space-between;
      span {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      button {
        bottom: 0;
        right: 0;
        border: 2px solid black;
        background-color: white;
      }
    }
    .title-div {
      h2 {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-weight: bold;
        font-size: 30px;
      }
    }
    h4 {
      font-size: 12px;
    }
  }
}
