/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
@import "swiper/scss";
.base-border {
  border: 2px solid black;
}
.img-borders {
  border-left: 6px solid black;
  border-right: 6px solid black;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
}
