/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
body {
  font-family: "Kode Mono", monospace;
}

.buttons {
  font-size: 12px;
  background-color: white;
  color: black;
  border-radius: 0px;
}
.base-border {
  border: 2px solid black;
}
.img-borders {
  border-left: 6px solid black;
  border-right: 6px solid black;
}
