.container {
  margin-top: 6rem;
  .div-with-avg-color {
    position: relative;
    display: flex;
    height: 80vh;
    @media screen and (max-width: 768px) {
      height: 50vh;
    }
    #i {
      height: 100%;
      margin-inline: auto;
      width: auto;
      object-fit: fill;
    }
    .last-chapter-div {
      height: 55%;
    }
  }
  #info-div {
    h2 {
      font-weight: bold;
      margin-bottom: 0;
    }
    #author {
      color: #a9a9a9;
    }
    span {
      font-weight: bold;
    }
    p {
      font-size: 14px;
      margin-top: 12px;
      padding-left: auto;
    }
  }
  #series-info {
    @media screen and (min-width: 992px) {
      .title-div {
        width: 27% !important;
      }
      #info-table {
        width: 50% !important;
      }
    }
    .title-div {
      display: flex;
      align-content: center;
      h1 {
        font-size: 55px;
      }
    }
    .name-of-section {
      font-weight: bold;
      margin-top: 5px;
    }
    .content-of-section {
      background-color: #a9a9a97d;
      padding: 3px 8px;
      margin-right: 8px;
      display: inline-block;
      margin-bottom: 5px;
      margin-top: 5px;
    }
  }
  #more-info-div {
    span {
      background-color: white;
      border: 0;
      border-bottom: 8px solid black;
      font-weight: bold;
      text-align: start;
      padding-left: 0;
      font-size: 2rem;
      border-right: 2px solid black;
    }
  }
}

.swiper-container::-webkit-scrollbar {
  display: none;
}
.swiper-container {
  height: auto;
  overflow: auto;
  overflow-x: scroll;
  .swiper-slide {
    @media screen and (max-width: 767px) {
      width: 50%;
    }
    @media screen and (min-width: 768px) and (max-width: 991px) {
      width: 33%;
    }
    @media screen and (min-width: 992px) and (max-width: 1199px) {
      width: 25%;
    }
    @media screen and (min-width: 1200px) {
      width: 20%;
    }
  }
}
