<ng-container *ngIf="auth; else makeTheAuth">
  <div class="w-100 h-100 cart">
    <div
      [ngClass]="{ 'border-0': products.length === 0 }"
      class="position-sticky top-0 bg-white pb-4 base-border border-end-0 border-start-0"
    >
      <div class="pt-3 pe-3 close-btn">
        <button
          (click)="dnoneDiv('cart-div', 'cart-button')"
          class="border-0 bg-white text-black fs-3"
        >
          <i class="bi bi-x-lg"></i>
        </button>
      </div>
      <div class="ps-3 pt-3">
        <h2 class="d-flex mb-0">Cart:</h2>
        <ng-container *ngIf="products.length > 0">
          <div class="d-flex mt-3">
            <button
              (click)="openScrollableContent(longContent)"
              class="mx-auto btn border-2 border-black"
            >
              Buy your Mangas
            </button>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="p-3">
      <ng-container *ngIf="products.length > 0; else emptyCart">
        <ng-container *ngFor="let product of products">
          <app-single-product
            [product]="product"
            [products]="products"
            [productInCart]="true"
          ></app-single-product>
        </ng-container>
      </ng-container>
    </div>
    <ng-template #emptyCart>
      <div
        id="empty-cart"
        class="h-100 d-flex flex-column justify-content-center"
      >
        <h4 class="text-center">Empty Cart</h4>
      </div>
    </ng-template>
  </div>
</ng-container>
<ng-template #makeTheAuth>
  <div class="position-relative py-5">
    <div class="d-flex w-100 position-absolute top-0">
      <div class="pt-3 pe-3 close-btn self ms-auto">
        <button
          (click)="dnoneDiv('cart-div', 'cart-button')"
          class="border-0 bg-white text-black fs-3"
        >
          <i class="bi bi-x-lg"></i>
        </button>
      </div>
    </div>
    <div class="text-center">
      <h4>You have to login to see the cart!</h4>
      <button
        class="btn bg-black rounded-0 text-white"
        (click)="openVerticallyCentered(content)"
      >
        Login
      </button>
    </div>
  </div>
</ng-template>
<ng-template #content let-modal>
  <div class="modal-header bg-black text-white">
    <h4 class="modal-title">Login:</h4>
    <button
      type="button"
      class="btn-close btn-close-white border-2 border-wi"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body bg-black">
    <app-login-form></app-login-form>
  </div>
  <div class="modal-footer bg-black"></div>
</ng-template>
<ng-template #longContent let-modal>
  <div class="modal-header bg-black text-white">
    <h4 class="modal-title">For the order</h4>
    <button
      type="button"
      class="btn-close btn-close-white"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body bg-black text-white">
    <app-order-form></app-order-form>
  </div>
  <div class="modal-footer bg-black"></div>
</ng-template>
