<div class="card w-100 base-border rounded-0 border-white bg-black text-white">
  <div class="img-div">
    <img [src]="urlImg" class="i" alt="..." />
  </div>
  <div class="card-body">
    <div class="title">
      <h4 class="card-title">{{ title }}</h4>
    </div>
  </div>
  <div class="d-flex">
    <button
      routerLink="/manga-all-info"
      routerLinkActive="active"
      (click)="deleteRandomMangaFromLS()"
      class="mb-1 me-1 ms-auto bg-black text-white border-base border-white more-info-btn"
    >
      More Info...
    </button>
  </div>
</div>
