<div class="bg-black text-white p-2 mb-2">
  <div class="d-flex flex-row">
    <div
      class="d-flex flex-row base-border border-white justify-content-between flex-grow-1"
    >
      <div class="d-flex flex-row flex-grow-1">
        <div class="div-img-product">
          <img [src]="product.imgManga" alt="" />
        </div>
        <div
          class="p-2 d-flex flex-column justify-content-between position-relative flex-grow-1"
        >
          <div>
            <p class="mb-0 fs-4 fw-bold title-product text-start">
              {{ product.titleManga }}
            </p>
          </div>
          <div class="me-auto">
            <p class="mb-0">
              {{
                product.chapterNumber === "Unique Chapter"
                  ? "Unique Chapter"
                  : "Chapter: " + product.chapterNumber
              }}
            </p>
          </div>
        </div>
      </div>
      <div class="d-flex flex-row align-content-center">
        <p class="mb-0 mt-auto me-2">Price: {{ product.price }}€</p>
      </div>
    </div>
    <ng-container *ngIf="productInCart">
      <div>
        <button
          (click)="deleteFromCart(product.UUID)"
          class="delete-product-btn w-100 h-100 bg-white text-black border-0 px-3"
        >
          <i class="bi bi-trash3-fill"></i>
        </button>
      </div>
    </ng-container>
  </div>
</div>
