<div
  [ngClass]="{ 'border-0': allMangasFound.length === 0 }"
  class="position-sticky top-0 bg-white z-3 pb-2"
>
  <div class="d-flex w-100 position-absolute">
    <div class="pt-3 pe-3 close-btn self ms-auto">
      <button
        (click)="dnoneDiv('search-div', 'search-button')"
        class="border-0 bg-white text-black fs-3"
      >
        <i class="bi bi-x-lg"></i>
      </button>
    </div>
  </div>
  <form
    [ngClass]="{ 'mb-5': allMangasFound.length === 0 && !showResultsVar }"
    class="mx-auto mt-0 pt-4"
    #searchForm="ngForm"
    (ngSubmit)="onSearch(searchForm)"
  >
    <div class="input-group flex-grow-1 mb-3 flex-column">
      <label for="inputTitle">SEARCH BY TITLE</label>

      <div class="d-flex">
        <input
          type="text"
          name="title"
          id="inputTitle"
          required
          ngModel
          type="text"
          class="w-100 flex-grow-1 form-control rounded-0 base-border mt-3"
        />
        <button
          class="border-0 ms-2 bg-white"
          type="submit"
          [disabled]="!searchForm.valid"
          (click)="showResults()"
        >
          <i
            class="fs-4 text-black bi bi-search"
            style="pointer-events: none"
          ></i>
        </button>
      </div>
    </div>
  </form>
</div>
<div class="w-75 mx-auto position-relative h-100">
  <div id="results-div ">
    <ng-container *ngIf="showResultsVar">
      <ng-container *ngIf="allMangasFound.length > 0; else noResults">
        <ng-container *ngFor="let manga of allMangasFound; let i = index">
          <div [ngClass]="{ 'mt-2': i === 0 }">
            <app-single-manga
              [searchManga]="true"
              [manga]="manga"
            ></app-single-manga>
          </div>
        </ng-container>
      </ng-container>
      <ng-template #noResults>
        <h4 class="text-center">No results found!</h4>
      </ng-template>
    </ng-container>
  </div>
</div>
