.single-product {
  height: 50px;
  border-top: 0;
}
#empty-cart {
  height: 100%;
  width: 100%;
  p {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  #make-order-div {
    width: 75%;
  }
  #amount-div {
    width: 75%;
    border-top: 0;
  }
}
@media screen and (max-width: 767px) {
  #amount-div {
    width: 80%;
  }
}
@media screen and (min-width: 992px) {
  #amount-div {
    width: 50%;
  }
}
@media screen and (min-width: 1200px) {
  #amount-div {
    width: 25%;
  }
}
