#avatar-div {
  width: 100px;
  margin-bottom: 2rem;
  img {
    border-radius: 50%;

    overflow: hidden;
    border: 5px solid white;
  }
  button {
    border-radius: 50%;
    i {
      pointer-events: none;
    }
  }
}
.alerts {
  position: fixed;
  top: 25px;
  right: 25px;
}
input[type="file"] {
  display: none;
}
.custom-file-upload {
  width: 100%;
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  font-size: 1rem;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.buttons:hover {
  background-color: black !important;
  color: white !important;
}
.btn:hover {
  background-color: white !important;
  color: black !important;
}
