<div class="card border-0 mb-3" style="width: 18rem">
  <div class="div-with-avg-color">
    <img id="i" [src]="urlImg" class="card-img-top" />
  </div>
  <div class="border-2 card-body border-bottom-0 border-top-0 p-0">
    <ng-container *ngIf="chapter.attributes.title !== undefined; else noTitle">
      <h5 class="card-title">
        {{ chapter.attributes.title }}
      </h5>
    </ng-container>
    <ng-template #noTitle>
      {{ manga.attributes.title }}
    </ng-template>
    <ng-container
      *ngIf="chapter.attributes.chapter !== undefined; else uniqueChapter"
    >
      <p class="card-text mb-0">Chapter n°: {{ chapter.attributes.chapter }}</p>
    </ng-container>
    <ng-template #uniqueChapter>
      <p class="card-text mb-0">Unique Chapter</p>
    </ng-template>
    <a
      href="#"
      class="btn w-100 border-4 border-black border-top-0 border-start-0 border-end-0 rounded-0"
      >Buy it</a
    >
  </div>
</div>
